<!DOCTYPE html>
<html>
<head>
  <title>New Grocery Form!</title>
</head>
<body>
  <h1>Add a new thing to bring to the party:</h1>
  <form action="/groceries" method="POST">
    <input type="text" name="item" placeholder="Item">
    <input type="text" name="quantity" placeholder="Quantity">
    <button type="submit">Add to list</button>
  </form>
</body>
</html>