section#contact-info p {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  padding: 20px;
  border-radius: 25px;
  margin: 20px;
}

.duties {
  font-size: .8em;
}

section#contact-info a:link {
  color: red;
}

section#contact-info a:hover {
  color: green;
  font-size: 2em;
}

section#work-experience ul li.featured {
  font-weight: bold;
}